<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.hyoromo.android.tumblrwallpaper"
    android:versionName="1.0.3"
    android:versionCode="4" >
    <uses-sdk android:minSdkVersion="3" />
    <application
        android:icon="@drawable/icon">
        <activity
            android:name=".TumblrWallpaper"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest> 